name: Build and release GatewayD

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go 1.19
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
          cache: true
      - run: |
          git config --global url."https://mostafa:${TOKEN}@github.com/".insteadOf "https://github.com"
          go mod tidy
        env:
          TOKEN: ${{ secrets.GH_SDK_TOKEN }}
          GOPRIVATE: github.com/gatewayd-io/gatewayd-*
      - name: Build and release binaries with goreleaser
        uses: goreleaser/goreleaser-action@v2
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
